/*================ Product Tile ================*/

.product-tile {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    color: #3b3a36;
    padding: 1em 0 2em 0;
    margin-bottom: 96px;
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: inset -6px -6px 0 #b3c2bf, inset 6px 6px 0 #b3c2bf;
    }
}

.product-img {
    display: inline-block;
    position: relative;
    margin: 1em 0 2em 0;
    max-width: 60%;
}

.product-title {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #3b3a36;
    width: 80%;
}

.product-price {
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #3b3a36;
    margin-bottom: 0;
}